.Btn {
    display: block;
    width: 250px;
    position: relative;
    margin: 0.2em auto;
    text-align: center;
    line-height: 34px;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    background: rgb(78, 77, 77);
  }
  
  .Btn:hover {
    background:steelblue;
    transition: 0.5s;
  }
  
  .Btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 100%;
  }