@import '../../../styles/settings.scss';

.root {
  font-family: $mainFont;
}

.photo {
  height: 400px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 20px 20px;
}

.hide {
  display: none;
}

.contact {
  padding: 20px 0;
}

.background {
  background:linear-gradient(to right, $whiteColor, $primaryColor, $whiteColor);
}

@media only screen and (max-width: 767px) {
  .details {
    display: block;
  }
}