@import '../../../styles/settings.scss';

.root {
  text-align: center;
}

.main {
   color: $whiteColor;
}

body {
  background-color: $backgroundColor;
}

.albatroz {
  font-family: $titleFont;
  font-size: 40px;
  background-color: $primaryColor;
  position: relative;
  background: linear-gradient(to right, $backgroundColor, $primaryColor, $backgroundColor);
  a {
    text-decoration: none;
    color: inherit;
  }
}